/* / {
    chosen {
        main,display = &st7735r;
    };

    mipi_dbi {
        compatible = "zephyr,mipi-dbi-spi";
        spi-dev = <&spi1>;
        dc-gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpioc 4 GPIO_ACTIVE_LOW>;
        #address-cells = <1>;
        #size-cells = <0>;
        st7735r: st7735r@0 {
            compatible = "sitronix,st7735r";
            reg = <0>;
            mipi-max-frequency = <1000000>;
            mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
            rgb-is-inverted;
            width = <128>;
            height = <128>;
            x-offset = <2>;
            y-offset = <1>;
            madctl = <0x00>;
            colmod = <0x55>;
            vmctr1 = <0x0e>;
            invctr = <0x07>;
            pwctr1 = [a2 02 84];
            pwctr2 = [c5];
            pwctr3 = [0a 00];
            pwctr4 = [8a 2a];
            pwctr5 = [8a ee];
            frmctr1 = [01 2c 2d];
            frmctr2 = [01 2c 2d];
            frmctr3 = [01 2c 2d 01 2c 2d];
            caset = [00 00 00 7f];
            raset = [00 00 00 7f];
            gamctrp1 = [02 1c 07 12 37 32 29 2d 29 25 2b 39 00 01 03 10];
            gamctrn1 = [03 1d 07 06 2e 2c 29 2d 2e 2e 37 3f 00 00 02 10];
        };
    };
};

#include <zephyr/dt-bindings/dma/stm32_dma.h>

&dma1 {
    status = "okay";
};

&spi1 {
    dmas = <&dma1 3 1 (STM32_DMA_MEMORY_TO_PERIPH | STM32_DMA_PERIPH_NO_INC |
                       STM32_DMA_MEM_INC | STM32_DMA_PERIPH_8BITS |
                       STM32_DMA_MEM_8BITS | STM32_DMA_PRIORITY_HIGH)>,
           <&dma1 2 1 (STM32_DMA_PERIPH_TO_MEMORY | STM32_DMA_PERIPH_NO_INC |
                       STM32_DMA_MEM_INC | STM32_DMA_PERIPH_8BITS |
                       STM32_DMA_MEM_8BITS | STM32_DMA_PRIORITY_HIGH)>;
    dma-names = "tx", "rx";
}; */